* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
}
.container {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  background: #eee;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  .header {
    display: block;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  .flex-container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    .flex-area {
      background: #f6f6f6;
      width: 50%;
      margin: 5px;
      word-wrap: break-word;
      border: 1px solid;
      display: flex;
      flex-direction: column;
      .bar {
        padding: 4px 4px 3px 10px;
        background: #dadada;
        border: 2px solid;
      }
    }
    #editor {
      background: #f6f6f6;
      margin: 0px 0px -1px -1px;
      flex-grow: 1;
      width: 100%;
      resize: none;
      outline: none;
    }
    #preview {
      padding: 30px;
    }
  }
}
